nav {
  background-color: skyblue;
  padding: 0.5em 0;
  font-size: 3rem;
}
nav .logo {
  font-family: "Averia Serif Libre", cursive;
}

h1 {
  color: black;
}

.nav__items {
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-direction: row;
  flex-wrap: wrap;
  cursor: pointer;
}
.nav__services {
  position: relative;
}
.nav__services--items {
  display: none;
  position: absolute;
  width: 200px;
  list-style-type: none;
  padding: 1em;
}
.nav__services--items li {
  padding-bottom: 1em;
}
.nav__services:hover .nav__services--items {
  display: block;
  background-color: skyblue;
}
.nav__menu {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  flex-direction: row;
  flex-wrap: wrap;
  list-style-type: none;
  font-size: 1rem;
  gap: 2em;
  font-weight: bold;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.container {
  width: 80%;
  margin: 0 auto;
}

body {
  font-family: "open sans", sans-serif;
}

body {
  font-family: "open sans", sans-serif;
  color: black;
}

.submit-button, .main button {
  border: none;
  padding: 1em 1.5em;
  font-weight: bold;
  border-radius: 5px;
  display: block;
}

body {
  font-family: "open sans", sans-serif;
}

.heroImg {
  background-image: url(../../images/bankguard0.jpg);
  background-repeat: no-repeat;
  background-position: top 20% center;
  background-size: cover;
  height: 100vh;
}
.heroImg .hero-description {
  color: burlywood;
  font-size: 3rem;
  text-align: center;
  margin-top: -15;
}
.heroImg h1 {
  font-size: 3rem;
  text-align: center;
  color: skyblue;
}

a {
  text-decoration: none;
  color: #000;
}

.main {
  background-color: skyblue;
  padding: 1em 0;
}

.main__radio {
  width: 600px;
  height: 400px;
  position: relative;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center center;
  background-image: linear-gradient(rgba(53, 81, 92, 0.8), rgba(53, 81, 92, 0.8)), url("../../images/radio.jpg");
}
.main__patrolguard {
  width: 600px;
  height: 400px;
  position: relative;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center center;
  background-image: linear-gradient(rgba(53, 81, 92, 0.8), rgba(53, 81, 92, 0.8)), url("../../images/patrolguard.png");
}
.main__guard {
  width: 600px;
  height: 400px;
  position: relative;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center center;
  background-image: linear-gradient(rgba(53, 81, 92, 0.8), rgba(53, 81, 92, 0.8)), url("../../images/guard.jpg");
}
.main__cctv {
  width: 600px;
  height: 400px;
  position: relative;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center center;
  background-image: linear-gradient(rgba(53, 81, 92, 0.8), rgba(53, 81, 92, 0.8)), url("../../images/security.jpg");
}
.main p {
  color: white;
  font-size: 1.5rem;
  font-weight: bold;
}
.main--flex {
  display: flex;
  justify-content: flex-end;
  align-items: center;
  flex-direction: column;
  flex-wrap: wrap;
  padding-bottom: 2em;
}
.main button {
  cursor: pointer;
  background-color: skyblue;
  color: white;
  font-size: 1rem;
  border: 2px solid skyblue;
}

.flexcontainer {
  display: flex;
  justify-content: center;
  align-items: flex-start;
  flex-direction: row;
  flex-wrap: nowrap;
  gap: 0.5em;
  margin: 0.5em 0;
}

.clients {
  padding: 1em 0;
  background-color: white;
  color: black;
  text-align: center;
}
.clients img {
  width: 10%;
  vertical-align: middle;
  border-radius: 10px;
  margin: 0 2.5em;
}

.footer2 {
  display: flex;
  justify-content: space-around;
  align-items: center;
  flex-direction: row;
  flex-wrap: nowrap;
  color: white;
  padding: 1em 0;
  border-bottom: 1px solid black;
}

footer {
  background-color: grey;
}

.footer2 li {
  list-style-type: none;
}

.footer_icons {
  text-align: end;
  padding-right: 5% 15% 5% 0;
}

.contact {
  padding: 1.5em 0;
  background-color: white;
}
.contact__form {
  width: 90%;
  margin: 0 auto;
}
.contact h2 {
  text-align: center;
  font-size: 3rem;
  color: black;
}
.contact__p {
  text-align: center;
  padding: 0.5em 0;
  color: black;
  font-size: 2rem;
}
.contact h3 {
  margin-top: 1em;
}
.contact__container {
  width: 80%;
  display: flex;
  justify-content: space-around;
  align-items: flex-start;
  flex-direction: row;
  flex-wrap: wrap;
  margin: 0 auto;
}
.contact__background {
  background: black;
  height: 50vh;
  border: 1px solid black;
  background-image: url(../images/secure_04.png);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center center;
  padding: 1em 0;
}
.contact__name {
  display: flex;
  gap: 0.5em;
}
.contact__name div {
  width: 50%;
}
.contact__details {
  box-shadow: 2px 2px 10px grey;
  padding: 2em 4em;
  width: 40%;
}
.contact__info {
  background-color: skyblue;
}

.input {
  padding: 0.8em 0;
  width: 100%;
  border: none;
}
.input:focus {
  outline: none;
}

.labels {
  display: block;
  padding: 0.5em 0;
}

.submit-button {
  display: block;
  margin: 0 auto;
  background-color: black;
  color: white;
}

form {
  box-shadow: 2px 2px 10px grey;
  width: 50%;
  padding: 1em;
}
form textarea {
  width: 100%;
}
form textarea:focus {
  outline: none;
  border: none;
}
form p {
  padding: 0.5em 0;
}

.guard__hero {
  height: 40vh;
  background-image: url(../images/secure.png);
  background-repeat: no-repeat;
  background-position: center center;
  background-color: black;
}
.guard__main {
  height: 40;
  background-color: skyblue;
  color: black;
  padding: 1em;
}
.guard__main--p {
  width: 90%;
  padding-left: 10em;
  text-align: justify;
  font-size: 1.5rem;
}

.events {
  background-image: linear-gradient(rgba(0, 0, 0, 0.6), rgba(0, 0, 0, 0.6)), url(../images/secure_04.png);
  background-repeat: no-repeat;
  background-size: cover;
  height: 80vh;
  width: 100%;
  background-position: 100%;
}
.events h2 {
  color: black;
  padding: 1em;
  font-weight: bold;
}
.events p {
  color: white;
  font-weight: bold;
}

.about {
  background-image: linear-gradient(rgba(0, 0, 0, 0.6), rgba(0, 0, 0, 0.6)), url(../images/secure_02.png);
  background-repeat: no-repeat;
  background-size: cover;
  height: 100vh;
  width: 100%;
  background-position: 100%;
}

h1 {
  color: burlywood;
  padding: 0.5em;
  text-align: start;
}

h2 {
  color: burlywood;
}

p {
  color: white;
  font-weight: bold;
  font-size: 1.2rem;
}

.cctv__page {
  background-image: url(../images/home_cctv_page.jpg);
  height: 40vh;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center center;
}/*# sourceMappingURL=style.css.map */