*{margin:0;
padding:0;
box-sizing:border-box;
}
.container{
width:80%;
margin:0 auto;
font-size: 2em;

}
.hero{
    padding: 2em ;
}
.hero-image img{
    width: 100%;
    height: 120%;
    object-fit: contain;
}
h1{font-family: 'Open Sans', sans-serif;
    

}

body{font-family: 'Poppins', sans-serif;
    background-color: black;
    color: white;
    
}
.hero{
    display:flex;

}
.hero p{
    padding: 2em;
}

.hero-description{
       width: 70%;
    height: 100%;
    object-fit: contain;
}
    
