@use "../utility/base";
@use "../utility/inheritance";
@use "../utility/mixins";
@use "../utility/variables" as *;

body{
    font-family: $font-family;
}
   .heroImg{
    background-image: url(../../images/bankguard0.jpg);
    background-repeat: no-repeat;
    background-position:top-left ;
    background-size: cover;
height:70vh;}
    
   
.hero-description
  p {

    color: burlywood;
    font-size: 3rem;
    text-align: center;
    margin-top: -15;
  }
    
  
  h1 {
    font-size: 3em;
    text-align: center;
    color: $primary-color;
  }
  
  

   