@use "../utility/base";
@use "../utility/inheritance";
@use "../utility/mixins" as *;
@use "../utility/variables" as *;

a{text-decoration: none;
color: #000;}
.main{
    background-color: $primary-color;
    padding: 1em 0;
    // height: 100vh;
}

.main{

&__radio{
    @include main-image("../../images/radio.jpg");
}
&__patrolguard{
    @include main-image("../../images/patrolguard.png");
    
}
&__guard{
    @include main-image("../../images/guard.jpg");

}
&__cctv{
    @include main-image("../../images/security.jpg");
    
 }

 & p{ 
    color:$font-color;
    font-size: 1.5rem;
    font-weight: bold;
 }

 &--flex{@include flex(flex-end, center, column, wrap);
    padding-bottom: 2em;
}

 button{
    cursor: pointer;
    @extend %button;
    background-color: $primary-color;
    color:$font-color;
    font-size: 1rem;
    border:2px solid $primary-color;
}

}

.flexcontainer{
    @include flex(center,flex-start,row,nowrap);
    gap: .5em;
    margin: .5em 0;
    // padding:1em 0;
}


.clients{
    padding: 1em 0;
    background-color: $font-color;
    color: $black;
    text-align: center;
    & img{width: 10%;
    vertical-align: middle;
    border-radius: 10px;
margin:0 2.5em;}
    }
