@use "../utility/base";
@use "../utility/inheritance";
@use "../utility/mixins";
@use "../utility/variables" as *;

.main{
    background-color: $primary-color;
    padding: 1em 0;
    // height: 100vh;
}

.main{
&__radio{
    background-image: url(../../images/radio.jpg);
    @include mixins.main-image;
}
&__patrolguard{
    background-image: url(../../images/patrolguard.png);
    @include mixins.main-image;
}
&__guard{
    background-image: url(../../images/guard.jpg);
    @include mixins.main-image;
}
&__cctv{
    background-image: url(../../images/security.jpg);
    @include mixins.main-image;
 }
}

.flexcontainer{
    @include mixins.flex(center,flex-start,row,nowrap);
    gap: 1em;
    margin: .5em 0;
}
.clients{
    padding: 1em 0;
    background-color: $font-color;
    color: $black;
    text-align: center;
    & img{width: 10%;
    vertical-align: middle;
    border-radius: 10px;}
    }
