@use "../utility/variables" as *;
@use "../utility/mixins";


nav{
    background-color: $primary-color;
    padding:.5em 0;
    .logo{font-family: $script;}
    font-size: 3rem;}
    
    h1{
        color: $black;}
.nav{
  &__items{
 @include mixins.flex(space-between,center, row, wrap);
 cursor: pointer;
}
&__services{position:relative;
&--items{
    display:none;
    position:absolute;
      width: 200px;
    list-style-type: none;padding: 1em;
    li{
        padding-bottom: 1em;
        
    }}
    &:hover .nav__services--items{
        display:block;
        background-color: $primary-color;

       
}

} 


&__menu{@include mixins.flex(flex-start,center, row, wrap);
    list-style-type: none;
    font-size: 1rem;
    gap: 2em;
    font-weight: bold;}
} 

