@use "../css/utility/variables"as *;

.events{
    background-image: linear-gradient(rgba(0,0,0, 0.6), rgba(0,0,0,0.6)), url(../images/secure_04.png);
    background-repeat: no-repeat;
    background-size:cover;
    height: 80vh;
    width: 100%;
    background-position:100%;

h2{
    color:$black;
    padding: 1em;
    font-weight: bold;

}
p{
    color:white;
    font-weight: bold;
}
}
