@use "../css/utility/mixins";
@use "../css/utility/variables" as *;


.guard{

    &__hero{height: 40vh;
        

        background-image: url(../images/secure.png);
        background-repeat: no-repeat;
        background-position:center center;
        background-color: $black;

    }

    &__main{height: 40;
        background-color: $primary-color;
        color:$black;
        padding:1em;
        &--p{width: 90%;
        padding-left: 10em;
        text-align: justify;
    font-size: 1.5rem;}
    }
}




