.institution-img {

    background:linear-gradient(rgb(0,0,0,0.2),rgb(0,0,0,0.2)),url(../images/secure_03.png);
    background-repeat: no-repeat;
    background-size: cover;
    height: 100vh;
    width: 100%;
    background-position:100%;}
      
    .institution{
        color:black;
    p{
        // width: 60%;
        padding: 1em;
        font-size: 2rem;
        
    }
    h2{
        padding-left: 2em;
        color:skyblue;
    }
    li{
        color: white;
        list-style-type: none;
        padding-left: 3em;
    }
    }

